@model SkolaMVC.Models.UcenikViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    @using (Html.BeginForm("Delete", "Ucenik", new { id = Model.UcenikId }, FormMethod.Post))
    { 
    <h4>UcenikViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UcenikId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UcenikId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JMBG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JMBG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumRodjenja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImeRoditelja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImeRoditelja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojUDnevniku)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojUDnevniku)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drzavljanstvo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drzavljanstvo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OdjeljenjeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OdjeljenjeId)
        </dd>

    </dl>

  
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
