@model SkolaMVC.Models.UcenikViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UcenikViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class=" col-md-6">
            <dt>
                @Html.DisplayNameFor(model => model.UcenikId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UcenikId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Prezime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Prezime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pol)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pol)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JMBG)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JMBG)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Adresa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Adresa)
            </dd>

            
        </div>
        <div class=" col-md-6">
            <dt>
                @Html.DisplayNameFor(model => model.DatumRodjenja)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DatumRodjenja)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImeRoditelja)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImeRoditelja)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BrojUDnevniku)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BrojUDnevniku)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Drzavljanstvo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Drzavljanstvo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OdjeljenjeId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OdjeljenjeId)

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OdjeljenjeNaziv)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OdjeljenjeNaziv)

            </dd>

        </div>
    </dl>

    <div class="col-md-12">
        <p>
            @Html.ActionLink("Create New", "Create", "Ocjena", new {ucenikID = Model.UcenikId }, new { })
        </p>
        @Html.Partial("_OcjenaIndex", ViewBag.Ocjene as IEnumerable<SkolaMVC.Models.OcjenaViewModel>)

    </div>
</div>

<div class=" col-md-12">
     <br/>
      <br/>
    <p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.UcenikId  }) |
    @Html.ActionLink("Back to List", "Index")
    </p>
</div>
