@model SkolaMVC.Models.UcenikViewModel


@*Kopirano iz Bootstrap-a*@
<div class="row">
        <div class="thumbnail">
            <img src="~/Content/slike/ptica.jpg" alt="...">
            <div class="caption">
                <h3> @Model.Ime @Model.Prezime </h3>
                <p>Drzava: @Model.DrzavaNaziv</p>
                <p>Grad: @Model.GradNaziv </p>
                <p>Adresa: @Model.Adresa</p>
            </div>
        </div> 
</div>


   
