@model IEnumerable<SkolaMVC.Models.UcenikViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.UcenikId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JMBG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrzavaNaziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradNaziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImeRoditelja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojUDnevniku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drzavljanstvo)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.OdjeljenjeId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.OdjeljenjeNaziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.UcenikId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JMBG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrzavaNaziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GradNaziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumRodjenja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImeRoditelja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrojUDnevniku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drzavljanstvo)
        </td>
        @* <td>
            @Html.DisplayFor(modelItem => item.OdjeljenjeId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.OdjeljenjeNaziv)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
