@model IEnumerable<SkolaMVC.Models.OcjenaPredmetViewModel>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.OcjenaId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Vrijednost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumOcjene)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipOcjene)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.OcjenaId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Vrijednost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumOcjene)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipOcjene)
            </td>

        </tr>
    }

</table>
